<!DOCTYPE html>
<html lang="zh-CN" ng-app>
<head>
  <meta charset="UTF-8">
  <title>遥感研究生乒乓球赛2016</title>
  <link rel="icon" type="image/x-icon" href="img/header-logo.jpg">

	<link rel="stylesheet" href="lib/octicons/octicons/octicons.css">
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">

  <link rel="stylesheet" href="css/main.css">
</head>
<body>

  <header class="navbar navbar-fixed-top">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#title">首页</a></li>
          <li><a href="#player-or-referee">报名类别</a></li>
          <li><a href="#information">个人信息</a></li>
          <li><a href="#item">报名项目</a></li>
          <li><a href="#confirm">确认</a></li>
          <li><a href="#schedule">赛程</a></li>
        </ul>
      </div>
    </div>
  </header>
	
	<section id="title" class="cover">
    <h1 class="intro-title">研究生乒乓球赛 2016</h1>
    <h3 class="intro-date">2016.11.24 | 信息学部体育馆</h2>
    <p class="intro-par">一段描述...</p>
    <a class="btn btn-lg btn-signup" href="#player-or-referee">现在报名</a>
  </section>

  <section id="player-or-referee" class="cover">
    <div class="container-fluid">
      <h2>
        <span class="mega-octicon octicon-location"></span> 选择报名类别
      </h2>
      <div class="row btn-group roles" data-toggle="buttons">
        <label class="col-sm-6 col-xs-12 btn role" id="role-player">
          <input type="radio" name="rolls" id="palyer">
          <span class="mega-octicon octicon-organization"></span>
          <h3>报名参赛</h3>
          <p class="guide-summary">
            报名参与男单、女单、男双、女双或混双五个项目，赢取精美奖品。
          </p>
          <p class="guide-annotation">
            <span class="octicon octicon-three-bars"></span> 每人限报两项。
          </p>
        </label>
        <label class="col-sm-6 col-xs-12 btn role" id="role-referee">
          <input type="radio" name="rolls" id="referee">
          <span class="mega-octicon octicon-megaphone"></span>
          <h3>报名裁判</h3>
          <p class="guide-summary">
            报名参与裁判工作，名额有限，参与即有精美礼品赠送。
          </p>
          <p class="guide-annotation">
            <span class="octicon octicon-three-bars"></span> 需要8名裁判。
          </p>
        </label>
      </div>
      <a class="roll-down octicon octicon-arrow-down" href="#information"></a>
    </div>
  </section>

  <section id="information" class="cover">
    <div class="container-fluid">
      <h2>
        <span class="mega-octicon octicon-clippy"></span> 填写你的个人信息
      </h2>
      <form class="form-horizontal">
        <input ng-model="student.name" type="text" placeholder="姓名">
        <input ng-model="student.id" type="text" placeholder="学号">
        <input ng-model="student.phone" type="text" placeholder="手机号">
      </form>
      <a id="js-toItem" class="roll-down octicon octicon-arrow-down" href="#item"></a>
    </div>
  </section>

  <section id="item" class="cover">
    <div class="container-fluid">
      <h2>
        <span class="mega-octicon octicon-tasklist"></span> 选择要参加的比赛项目
      </h2>
      <div class="row items">
        <div class="col-xs-12 col-sm-6 item">
          <div class="item-title">
            <h3>项目一</h3>
          </div>
          <select ng-model="item1" class="item-select">
            <option value="sng-man">男单</option>
            <option value="sng-wm">女单</option>
            <option value="dbl-man">男双</option>
            <option value="dbl-wm">女双</option>
            <option value="dbl-mix">混双</option>
          </select>
          <div ng-show="item1 == 'dbl-man' || item1 == 'dbl-wm' || item1 == 'dbl-mix'" class="partner-info">
            <input ng-model="ptn1.name" type="text" placeholder="搭档姓名">
            <input ng-model="ptn1.id" type="text" placeholder="搭档学号">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 item">
          <div class="item-title">
            <h3>项目二（可选）</h3>
          </div>
          <select ng-model="item2" class="item-select">
            <option value="sng-man">男单</option>
            <option value="sng-wm">女单</option>
            <option value="dbl-man">男双</option>
            <option value="dbl-wm">女双</option>
            <option value="dbl-mix">混双</option>
          </select>
          <div ng-show="item2 == 'dbl-man' || item2 == 'dbl-wm' || item2 == 'dbl-mix'" class="partner-info">
            <input ng-model="ptn2.name" type="text" placeholder="搭档姓名">
            <input ng-model="ptn2.id" type="text" placeholder="搭档学号">
          </div>
        </div>
      </div>
      <a class="roll-down octicon octicon-arrow-down" href="#confirm"></a>
    </div>
  </section>

  <section id="confirm" class="cover">
    <div class="container-fluid">
      <h2>
        <span class="mega-octicon octicon-checklist"></span> 确认你的报名信息
      </h2>
      <form class="confirm-form" action="php/newplayer.php" method="post" target="_blank">
        <div class="form-item">
          <label>报名类别：</label>
          <select id="js-type" name="type">
            <option value="player" hidden>参赛</option>
            <option value="referee" hidden>裁判</option>
          </select>
        </div>
        <div class="form-item">
          <label>姓名：</label>
          <input ng-model="student.name" type="text" name="student-name" required>
        </div>
        <div class="form-item">
          <label>学号：</label>
          <input ng-model="student.id" type="text" name="student-id" pattern="^201[0-9][1|2][0|8]2130\d{3}$" title="请输入有效的学号" required>
        </div>
        <div class="form-item">
          <label>手机：</label>
          <input ng-model="student.phone" type="text" name="phone-num" pattern="^(13[0-9]|14[5|7]|15[0|1|2|3|5|6|7|8|9]|18[0-9])\d{8}$" title="请输入有效的手机号" required>
        </div>
        <div ng-show="item1" class="form-item">
          <label>项目一：</label>
          <select ng-model="item1" name="item1">
            <option value="sng-man" hidden>男单</option>
            <option value="sng-wm" hidden>女单</option>
            <option value="dbl-man" hidden>男双</option>
            <option value="dbl-wm" hidden>女双</option>
            <option value="dbl-mix" hidden>混双</option>
          </select>
        </div>
        <div ng-show="item1 == 'dbl-man' || item1 == 'dbl-wm' || item1 == 'dbl-mix'" class="form-item">
          <label>搭档姓名：</label>
          <input ng-model="ptn1.name" type="text" name="partner1-name">
        </div>
        <div ng-show="item1 == 'dbl-man' || item1 == 'dbl-wm' || item1 == 'dbl-mix'" class="form-item">
          <label>搭档学号：</label>
          <input ng-model="ptn1.id" type="text" name="partner1-id" pattern="^201[0-9][1|2][0|8]2130\d{3}$" title="请输入有效的学号">
        </div>
        <div ng-show="item2" class="form-item">
          <label>项目二：</label>
          <select ng-model="item2" name="item2">
            <option value="sng-man" hidden>男单</option>
            <option value="sng-wm" hidden>女单</option>
            <option value="dbl-man" hidden>男双</option>
            <option value="dbl-wm" hidden>女双</option>
            <option value="dbl-mix" hidden>混双</option>
          </select>
        </div>
        <div ng-show="item2 == 'dbl-man' || item2 == 'dbl-wm' || item2 == 'dbl-mix'" class="form-item">
          <label>搭档姓名：</label>
          <input ng-model="ptn2.name" type="text" name="partner2-name">
        </div>
        <div ng-show="item2 == 'dbl-man' || item2 == 'dbl-wm' || item2 == 'dbl-mix'" class="form-item">
          <label>搭档学号：</label>
          <input ng-model="ptn2.id" type="text" name="partner2-id" pattern="^201[0-9][1|2][0|8]2130\d{3}$" title="请输入有效的学号">
        </div>
        <div class="form-footer">
          <a class="btn confirm-button modify" href="#information">返回修改</a>
          <button class="btn confirm-button">确认提交</button>
        </div>
      </form>

      <a class="roll-down octicon octicon-arrow-down" href="#schedule"></a>
    </div>
  </section>
	
  <section id="schedule" class="cover">
    <div class="container-fluid">
      <h2 class="schedule-title">
        <span class="mega-octicon octicon-file-text"></span> 赛程安排
      </h2>
      <div class="row">
        <div class="col-xs-12 col-sm-6 schedule-day">
          <div class="day-schedule-title">
            <h3>Day 1</h3>
            <h5>2016.11.24，周六</h5>
          </div>
          <ul class="schedule-list">
            <li>
              <div class="schedule-time">8:15 AM</div>
              <div class="event-name">A1 vs A2</div>
            </li>
            <li>
              <div class="schedule-time">8:15 AM</div>
              <div class="event-name">A1 vs A2</div>
            </li>
            <li>
              <div class="schedule-time">8:15 AM</div>
              <div class="event-name">A1 vs A2</div>
            </li>
            <li>
              <div class="schedule-time">8:15 AM</div>
              <div class="event-name">A1 vs A2</div>
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 schedule-day">
          <div class="day-schedule-title">
            <h3>Day 2</h3>
            <h5>2016.11.25，周日</h5>
          </div>
          <ul class="schedule-list">
            <li>
              <div class="schedule-time">8:15 AM</div>
              <div class="event-name">A1 vs A2</div>
            </li>
            <li>
              <div class="schedule-time">8:15 AM</div>
              <div class="event-name">A1 vs A2</div>
            </li>
            <li>
              <div class="schedule-time">8:15 AM</div>
              <div class="event-name">A1 vs A2</div>
            </li>
            <li>
              <div class="schedule-time">8:15 AM</div>
              <div class="event-name">A1 vs A2</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <p>
			<span class="mega-octicon octicon-hubot"></span> 遥感信息工程学院研究生会体育部
    </p>
  </footer>

  <script src="node_modules/jquery/dist/jquery.min.js"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="http://cdn.bootcss.com/angular.js/1.6.0-rc.0/angular.min.js"></script>

  <script src="js/init.js"></script>
</body>
</html>