/* Start Basics */

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  color: #4e4e4e;

  /* fix bootstrap modal open */
  padding-right: 0 !important;
}

/* fix bootstrap modal open */
body.modal-open {
  overflow-y: auto !important;
  padding-right: 0 !important;
}

.cover {
  position: relative;
  min-height: 100%;
  padding-top: 70px;
}

/* End Basics */

/* Start header */
.navbar {
  height: 52px;
  background-color: #fff;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.navbar-collapse {
  text-align: center;
}

.navbar-nav {
  display: inline-block;
  float: none;
}

.nav>li.active {
  background-color: #eee;
}
.nav>li>a {
  font-size: 1.2em;
  color: #4e4e4e;
}

.nav>li>a:hover,
.nav>li>a:focus {
  background-color: transparent;
}

/* End header */

/* Start title */
#title {
  position: relative;
  color: #fff;
  background-image: linear-gradient(to bottom,#81CA61 0,#00B16A 100%);
  background-repeat: repeat-x;
}

.intro {
  position: absolute;
  top: 40%;
  left: 5%;
}

.intro-title {
  font-size: 4.5em;
  font-weight: 300;
}

.intro-date {
  font-size: 2.5em;
}

.intro-par {
  font-size: 1.5em;
}

@media (max-width: 768px) {
  .intro-title {
    font-size: 3em;
  }
  .intro-date {
    font-size: 2em;
  }
  .intro-par {
    font-size: 1.2em;
  }
}

.btn-signup {
  width: 30%;
  color: #fff;
  background-color: inherit;
  border: 1px solid #fff;
  border-radius: 0;
  transition: background-color .5s;
}

.btn-signup:hover {
  color: #000;
  background-color: #fff;
}
/* End title */

/* Start player-or-referee */
h2 {
  font-size: 2.25em;
  margin-bottom: 20px;
}

h2 span {
  color: #e57d69;
}

h2:after {
  position: absolute;
  width: 100px;
  height: 4px;
  margin-top: .45em;
  margin-left: 20px;
  content: ""; 
  background-color: #e57d69;
}

.roles {
  display: block;
}

.role {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  white-space: normal;

  transition: background-color .5s;
}

.role.active {
  background-color: #e57d69; /* #5dcbf5 */
}

.role h3 {
  margin-bottom: 20px;
  font-size: 2em;
}

.roll-down {
  position: absolute;
  bottom: 5%;
  left: 48%;
  z-index: 1000;
  font-size: 3em;
  text-align: center;
  color: #E57D69;

  transition: color .5s;
}

.roll-down:focus,
.roll-down:hover {
  color: #c55d49;
  text-decoration: none;
}
/* End player-or-referee */

/* Start information */
#information {
  background-image: linear-gradient(to bottom,#4ECDC4 0,#19B5FE 100%);
}

#information h2 {
  color: #fff;
}

#information h2 span {
  color: #fff;
}

#information h2:after {
  background-color: #fff;
}

.form-horizontal {
  width: 50%;
  margin-top: 10%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.form-horizontal input {
  width: 50%;
  height: 40px;
  margin-bottom: 20px;
  margin-left: 10px;
  font-size: 1.3em;
  color: #fff;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid;

  transition: width .5s;
}

.form-horizontal input::-webkit-input-placeholder {
  color: #eee;
}

.form-horizontal input:focus {
  width: 60%;
  outline: none;
}

#information .roll-down {
  color: #fff;
}

#information .roll-down:hover {
  color: #ddd;
}
/* End information */

/* Start Item */
.items {
  position: absolute;
  top: 40%;
  width: 90%;
}

.item-title {
  margin-bottom: 30px;
  color: #E57D69;
}

.item-select {
  /* reset default style first */
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  width: 80%;
  height: 36px;
  margin-bottom: 20px;
  padding-left: 5px;
  background: #fff url("../../img/select-down.png") 97% no-repeat;
  border: 1px solid #E57D69;
}

.item-select:active,
.item-select:focus {
  outline: none;
}

.item-select option {
  width: 100%;
  height: 26px;
  padding-top: 3px;
  padding-left: 25px;
  color: #666;
  vertical-align: middle;
  background-color: #e3e3e3;
  box-sizing: border-box;
}

.item-select option:hover,
.item-select option:checked {
  color: #fff;
  background-image: url("../../img/option-bg.png");
}

.partner-info input {
  width: 80%;
  height: 36px;
  margin-bottom: 10px;
  border: 1px solid #E57D69;
}

/* End Item */

/* Start confirm */
#confirm {
  background-color: #f9f9f9;
}

.confirm-form {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
  font-size: 1.2em;
}

.form-item {
  width: 100%;
  margin-bottom: 10px;
}

.form-item label {
  width: 50%;
  color: #e57d69;
  text-align: right;
}

.form-item input[type="text"] {
  width: 48%;
  background-color: transparent;
  border: none;
}

.form-item select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  background-color: transparent;
  border: none;
}

.form-footer {
  text-align: center;
}

.confirm-button {
  color: #fff;
  background-color: #E57D69;
  border-radius: 0;

  transition: background-color .5s;
}

.confirm-button:hover,
.confirm-button:focus {
  color: #fff;
  background-color: #d46c58;
  text-decoration: none;
}
/* End confirm */

/* Start modal */
.progress-bar {
  width: 100%;
}
/* End modal */

/* Start schedule */
#schedule {
  background-color: #E57D69;
}

.schedule-title {
  color: #fff;
}

.schedule-title span {
  color: #4e4e4e;
}

.schedule-title:after {
  background-color: #4e4e4e;
}

.schedule-day {
  margin: 20px 0;
}

.day-schedule-title {
  border-bottom: 1px solid rgba(101, 62, 54, 0.3);
}

.day-schedule-title h3 {
  float: left;
  margin-top: 3px;
  margin-right: 15px;
  color: #fff;
}

h5 {
  font-size: 1.3em;
}

.schedule-list {
  padding: 0;
}

.schedule-list > li {
  position: relative;
  list-style: none;
  padding: 14px 0 11px 0;
  border-bottom: 1px solid rgba(101, 62, 54, 0.3);
}

.schedule-time {
  float: left;
  font-weight: bold;
}

.event-name {
  margin-left: 90px;
  padding-left: 40px;
  background-image: url("../../img/schedule-event-dot.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
}
/* End schedule */

/* Start footer */
footer {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
/* End footer */